 
 html {
    font-size: 0.781vw;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
    overflow-y: visible;
}
.container {
    padding: 0 4.3rem;
    max-width: 100%;
}
.row {
    margin-right: 0rem;
    margin-left: 0rem;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 2rem;
    padding-left: 2rem;
}
.custom-container .row {
    margin-right:0;
    margin-left:0;
}
.custom-container .col-12 {
    padding: 0;
}
body {
    font-size: 1.5rem;
    line-height: 1.5;
}
body p {
    font-size: 1.5rem;
    line-height: 1.5;
}
h1 {
    font-size: 4.5rem;
    line-height: normal;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.3rem;
}
h4 {
    font-size: 2.8rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.6rem;
}
 .elementor-element.elementor-element-b4632cb {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px
}

.elementor-element.elementor-element-008f39e {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px
}
 .elementor-element.elementor-element-70ee298 {
    z-index: 2
}

 .elementor-element.elementor-element-eb7be93 {
    z-index: 2
}

.elementor-element.elementor-element-8553043 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 120px;
    --padding-bottom: 120px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 3
}

 .elementor-element.elementor-element-e38e7d1 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

 .elementor-element.elementor-element-b4c1b7a>.elementor-widget-container {
    margin: 0 0 -12px 0
}

 .elementor-element.elementor-element-b4c1b7a .title-area-wrap {
    text-align: center
}

 .elementor-element.elementor-element-79e7805 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px
}

 .elementor-element.elementor-element-abcee0c {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px
}

.elementor-element.elementor-element-5628528 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px
}

 .elementor-element.elementor-element-8df0e0c {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px
}

 .elementor-element.elementor-element-1ba9255:not(.elementor-motion-effects-element-type-background),.elementor-946 .elementor-element.elementor-element-1ba9255>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/01/cta_bg_3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-element.elementor-element-1ba9255 {
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
    padding: 120px 0 120px 0
}

 .elementor-element.elementor-element-1ba9255>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-2f5bfe4>.elementor-element-populated {
    padding: 0 12px 0 12px
}

 .elementor-element.elementor-element-9095ed4 {
    width: var(--container-widget-width,580px);
    max-width: 580px;
    --container-widget-width: 580px;
    --container-widget-flex-grow: 0
}

 .elementor-element.elementor-element-9095ed4 .title-area-wrap {
    text-align: center
}

 .elementor-element.elementor-element-9095ed4 .title-selector {
    color: #FFF
}

 .elementor-element.elementor-element-e74ee37 .th_btn i {
    margin-left: 8px
}

 .elementor-element.elementor-element-e74ee37 .btn-wrapper {
    text-align: center
}

 .elementor-element.elementor-element-5a46922:not(.elementor-motion-effects-element-type-background),.elementor-946 .elementor-element.elementor-element-5a46922>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/01/testi_bg_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto
}

 .elementor-element.elementor-element-5a46922 {
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s
}

.elementor-element.elementor-element-5a46922>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-3038eaa>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-6e7c8cd>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

 .elementor-element.elementor-element-6e7c8cd>.elementor-container {
    max-width: 540px
}

 .elementor-element.elementor-element-6e7c8cd {
    padding: 120px 0 0 0
}

 .elementor-element.elementor-element-db5a810>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-35739f0 .title-area-wrap {
    text-align: center
}

 .elementor-element.elementor-element-ec61d00 {
    padding: 0 0 120px 0
}

 .elementor-element.elementor-element-7156455>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-7156455>.elementor-element-populated {
    padding: 0 12px 0 12px
}

@media(max-width: 1024px) {
     .elementor-element.elementor-element-8553043 {
        --padding-top:80px;
        --padding-bottom: 80px;
        --padding-left: 0px;
        --padding-right: 0px
    }

     .elementor-element.elementor-element-e38e7d1 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 24px;
        --padding-right: 24px
    }

   .elementor-element.elementor-element-79e7805 {
        --justify-content: center;
        --flex-wrap: wrap
    }

   .elementor-element.elementor-element-1ba9255 {
        padding: 80px 0 80px 0
    }

   .elementor-element.elementor-element-2f5bfe4>.elementor-element-populated {
        padding: 0 36px 0 36px
    }

  .elementor-element.elementor-element-6e7c8cd>.elementor-container {
        max-width: 480px
    }

    .elementor-element.elementor-element-6e7c8cd {
        padding: 80px 36px 0 36px
    }

     .elementor-element.elementor-element-ec61d00 {
        padding: 0 0 80px 0
    }

     .elementor-element.elementor-element-7156455>.elementor-element-populated {
        padding: 0 36px 0 36px
    }
}

@media(max-width: 767px) {
     .elementor-element.elementor-element-8553043 {
        --padding-top:80px;
        --padding-bottom: 80px;
        --padding-left: 12px;
        --padding-right: 12px
    }

    .elementor-element.elementor-element-e38e7d1 {
        --width: 100%;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-element.elementor-element-b4c1b7a {
        width: 100%;
        max-width: 100%
    }

   .elementor-element.elementor-element-2f5bfe4>.elementor-element-populated {
        padding: 0 12px 0 12px
    }

    .elementor-element.elementor-element-6e7c8cd>.elementor-container {
        max-width: 350px
    }

     .elementor-element.elementor-element-6e7c8cd {
        padding: 80px 12px 0 12px
    }

     .elementor-element.elementor-element-7156455>.elementor-element-populated {
        padding: 0 12px 0 12px
    }
}

@media(max-width: 1024px) and (min-width:768px) {
   
     .elementor-element.elementor-element-abcee0c {
        --width:48%
    }

    .elementor-element.elementor-element-5628528 {
        --width: 48%
    }

     .elementor-element.elementor-element-8df0e0c {
        --width: 48%
    }
}

@media(min-width: 1025px) {
    .elementor-element.elementor-element-1ba9255:not(.elementor-motion-effects-element-type-background),
    .elementor-element.elementor-element-1ba9255>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment:scroll
    }

    .elementor-element.elementor-element-5a46922:not(.elementor-motion-effects-element-type-background),
    .elementor-element.elementor-element-5a46922>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll
    }
}


 .elementor-element.elementor-element-4921b449 {
    overflow: hidden
}
.elementor-element.elementor-element-23c2afd6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-23c2afd6>.elementor-element-populated {
    padding: 120px 12px 120px 12px
}
 .elementor-element.elementor-element-9f19ff8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-9f19ff8>.elementor-element-populated {
    padding: 120px 12px 120px 12px
}

 .elementor-element.elementor-element-52cf885e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-2f9d479d .title-area-wrap {
    text-align: left
}

 .elementor-element.elementor-element-edd74ae>.elementor-widget-container {
    margin: 6px 0 0 0
}

 .elementor-element.elementor-element-5c81e064:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-5c81e064>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/02/service_bg_2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto
}

 .elementor-element.elementor-element-5c81e064 {
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
    z-index: 4
}

 .elementor-element.elementor-element-5c81e064>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-494c1efe>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-4397fb91>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

 .elementor-element.elementor-element-4397fb91 {
    padding: 120px 0 0 0
}

 .elementor-element.elementor-element-58964a5b>.elementor-element-populated {
    padding: 0 12px 0 12px
}

 .elementor-element.elementor-element-3b272db1 .shadow-title {
    background-color: #fff0;
    background-image: linear-gradient(180deg,#232C47 0%,#141D3817 91%)
}

 .elementor-element.elementor-element-3b272db1 .title-area-wrap {
    text-align: left
}

.elementor-element.elementor-element-3b272db1 .title-selector {
    color: #FFF
}

 .elementor-element.elementor-element-71e22e90>.elementor-element-populated {
    padding: 0 12px 0 12px
}

 .elementor-element.elementor-element-4304c9f>.elementor-widget-container {
    margin: 0 0 0 0;
    padding: 0 0 60px 0
}

 .elementor-element.elementor-element-4304c9f .th_btn i {
    margin-left: 8px
}

 .elementor-element.elementor-element-4304c9f .btn-wrapper {
    text-align: right
}

 .elementor-element.elementor-element-2d6d17bd>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-2d6d17bd>.elementor-element-populated {
    padding: 0 12px 0 12px
}

 .elementor-element.elementor-element-51cf0aa1:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-51cf0aa1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F5F5;
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/02/why_bg_2.jpg)
}

 .elementor-element.elementor-element-51cf0aa1 {
    overflow: hidden;
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
    margin-top: -420px;
    margin-bottom: 0;
    padding: 420px 0 0 0
}

 .elementor-element.elementor-element-51cf0aa1>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-4a1c65af>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-4a1c65af>.elementor-element-populated {
    padding: 120px 12px 120px 12px
}

 .elementor-element.elementor-element-4f84c937>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-78dbec03 .title-area-wrap {
    text-align: left
}

 .elementor-element.elementor-element-55d334af .btn-wrapper {
    text-align: left
}

 .elementor-element.elementor-element-162d3c14>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-162d3c14>.elementor-element-populated {
    padding: 120px 12px 120px 12px
}

 .elementor-element.elementor-element-6841c448 {
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
    padding: 120px 0 120px 0
}

 .elementor-element.elementor-element-6841c448>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-38722b54>.elementor-element-populated {
    padding: 0 12px 0 12px
}

 .elementor-element.elementor-element-11a6dea>.elementor-container {
    max-width: 540px
}

 .elementor-element.elementor-element-4967fac4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-3f210b2a .title-area-wrap {
    text-align: center
}

 .elementor-element.elementor-element-6f66360d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-399637c3:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-399637c3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #684DF4;
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/01/counter_bg_1.png)
}

 .elementor-element.elementor-element-399637c3 {
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s
}

.elementor-element.elementor-element-399637c3>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-33ed29df>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-c4b7d20>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-c4b7d20>.elementor-element-populated {
    padding: 100px 12px 100px 12px
}

 .elementor-element.elementor-element-29e97587:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-29e97587>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F5F5;
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/02/process_bg_1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-element.elementor-element-29e97587 {
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
    padding: 0 0 95px 0
}

 .elementor-element.elementor-element-29e97587>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-120bab13>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-120bab13>.elementor-element-populated {
    padding: 120px 12px 120px 12px
}

 .elementor-element.elementor-element-7bbb07a6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-5889c104 .title-area-wrap {
    text-align: center
}

 .elementor-element.elementor-element-7c4cf27b {
    margin-top: -95px;
    margin-bottom: 0;
    z-index: 4
}

 .elementor-element.elementor-element-5809d821 {
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
    padding: 0 0 0 0
}

.elementor-element.elementor-element-5809d821>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-62a23fbf {
    z-index: 5
}

 .elementor-element.elementor-element-33994f12>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-33994f12>.elementor-element-populated {
    padding: 120px 12px 120px 12px
}

 .elementor-element.elementor-element-7b53f2e3 .title-area-wrap {
    text-align: center
}

.elementor-element.elementor-element-3173de56:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-3173de56>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/02/testi_bg_3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto
}

 .elementor-element.elementor-element-3173de56 {
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
    padding: 120px 0 120px 0
}

 .elementor-element.elementor-element-3173de56>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-1b9c9f62>.elementor-element-populated {
    padding: 0 12px 0 12px
}

.elementor-element.elementor-element-72a6ccac>.elementor-container {
    max-width: 540px
}

 .elementor-element.elementor-element-157957a6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-element.elementor-element-a65673 .shadow-title {
    background-color: #fff0;
    background-image: linear-gradient(180deg,#232C47 0%,#141D3817 91%)
}

.elementor-element.elementor-element-a65673 .title-area-wrap {
    text-align: center
}

 .elementor-element.elementor-element-a65673 .title-selector {
    color: #FFF
}

 .elementor-element.elementor-element-687cef0d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-31b05008>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-element.elementor-element-31b05008>.elementor-element-populated {
    padding: 0 12px 120px 12px
}

 .elementor-element.elementor-element-62293859:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-62293859>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F5F5;
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/02/call_1.svg);
    background-position: 93% 75%;
    background-repeat: no-repeat;
    background-size: auto
}

 .elementor-element.elementor-element-62293859 {
    overflow: hidden;
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s
}

 .elementor-element.elementor-element-62293859,.elementor-316 .elementor-element.elementor-element-62293859>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px
}

 .elementor-element.elementor-element-62293859>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-78fe0751:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,.elementor-316 .elementor-element.elementor-element-78fe0751>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/02/customer_support.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

 .elementor-element.elementor-element-78fe0751>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-78fe0751>.elementor-element-populated {
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s
}

 .elementor-element.elementor-element-78fe0751>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-7e59efb8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-7e59efb8>.elementor-element-populated {
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s
}

 .elementor-element.elementor-element-7e59efb8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-6698f2e8>.elementor-widget-container {
    margin: 0 0 -20px 0;
    padding: 70px 70px 0 70px
}

 .elementor-element.elementor-element-6698f2e8 .title-area-wrap {
    text-align: left
}

 .elementor-element.elementor-element-58baa8bb>.elementor-widget-container {
    padding: 0 70px 70px 70px
}

.elementor-element.elementor-element-58baa8bb .btn-wrapper {
    text-align: left
}

 .elementor-element.elementor-element-54c9f29:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-54c9f29>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F5F5;
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/01/blog_bg_1.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto
}

 .elementor-element.elementor-element-54c9f29 {
    overflow: hidden;
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s
}

 .elementor-element.elementor-element-54c9f29>.elementor-background-overlay {
    transition: background 0.3s,border-radius 0.3s,opacity 0.3s
}

 .elementor-element.elementor-element-3ef73dd7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

 .elementor-element.elementor-element-165f883b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-316 .elementor-element.elementor-element-165f883b {
    padding: 120px 0 0 0
}

.elementor-316 .elementor-element.elementor-element-52ebace>.elementor-element-populated {
    padding: 0 12px 0 12px
}

.elementor-316 .elementor-element.elementor-element-698c544e .title-area-wrap {
    text-align: center
}

.elementor-316 .elementor-element.elementor-element-70208021 {
    padding: 0 0 120px 0;
    z-index: 5
}

.elementor-316 .elementor-element.elementor-element-5fcbf78c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-316 .elementor-element.elementor-element-5fcbf78c>.elementor-element-populated {
    padding: 0 12px 0 12px
}

@media(min-width: 768px) {
    .elementor-316 .elementor-element.elementor-element-58964a5b {
        width:44.614%
    }

    .elementor-316 .elementor-element.elementor-element-71e22e90 {
        width: 55.386%
    }

    .elementor-316 .elementor-element.elementor-element-78fe0751 {
        width: 40.245%
    }

    .elementor-316 .elementor-element.elementor-element-7e59efb8 {
        width: 59.755%
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-316 .elementor-element.elementor-element-23c2afd6 {
        width:100%
    }

    .elementor-316 .elementor-element.elementor-element-9f19ff8 {
        width: 100%
    }

    .elementor-316 .elementor-element.elementor-element-58964a5b {
        width: 100%
    }

    .elementor-316 .elementor-element.elementor-element-71e22e90 {
        width: 100%
    }

    .elementor-316 .elementor-element.elementor-element-4a1c65af {
        width: 100%
    }

    .elementor-316 .elementor-element.elementor-element-162d3c14 {
        width: 100%
    }

    .elementor-316 .elementor-element.elementor-element-52ebace {
        width: 100%
    }
}

@media(min-width: 1025px) {
    .elementor-316 .elementor-element.elementor-element-5c81e064:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-5c81e064>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment:scroll
    }

    .elementor-316 .elementor-element.elementor-element-3173de56:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-3173de56>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll
    }

    .elementor-316 .elementor-element.elementor-element-54c9f29:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-54c9f29>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll
    }
}

@media(max-width: 1024px) {
    .elementor-316 .elementor-element.elementor-element-23c2afd6>.elementor-element-populated {
        padding:80px 36px 40px 36px
    }

    .elementor-316 .elementor-element.elementor-element-9f19ff8>.elementor-element-populated {
        padding: 20px 36px 81px 36px
    }

    .elementor-316 .elementor-element.elementor-element-4b562e5d>.elementor-container {
        max-width: 700px
    }

    .elementor-316 .elementor-element.elementor-element-2f9d479d .title-area-wrap {
        text-align: center
    }

    .elementor-316 .elementor-element.elementor-element-edd74ae>.elementor-widget-container {
        margin: 0 0 0 0
    }

    .elementor-316 .elementor-element.elementor-element-4397fb91 {
        padding: 80px 36px 0 36px
    }

    .elementor-316 .elementor-element.elementor-element-58964a5b>.elementor-element-populated {
        padding: 0 0 0 0
    }

    .elementor-316 .elementor-element.elementor-element-3b272db1 .title-area-wrap {
        text-align: center
    }

    .elementor-316 .elementor-element.elementor-element-71e22e90>.elementor-element-populated {
        padding: 0 0 0 0
    }

    .elementor-316 .elementor-element.elementor-element-4304c9f .btn-wrapper {
        text-align: center
    }

    .elementor-316 .elementor-element.elementor-element-2d6d17bd>.elementor-element-populated {
        padding: 0 36px 0 36px
    }

    .elementor-316 .elementor-element.elementor-element-4a1c65af>.elementor-element-populated {
        padding: 80px 36px 40px 36px
    }

    .elementor-316 .elementor-element.elementor-element-44d1199d>.elementor-container {
        max-width: 700px
    }

    .elementor-316 .elementor-element.elementor-element-4f84c937>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

   .elementor-element.elementor-element-78dbec03 .title-area-wrap {
        text-align: center
    }

    .elementor-element.elementor-element-55d334af .btn-wrapper {
        text-align: center
    }

    .elementor-element.elementor-element-162d3c14>.elementor-element-populated {
        padding: 40px 36px 80px 36px
    }

    .elementor-element.elementor-element-6841c448 {
        padding: 80px 0 80px 0
    }

.elementor-element.elementor-element-38722b54>.elementor-element-populated {
        padding: 0 36px 0 36px
    }

     .elementor-element.elementor-element-c4b7d20>.elementor-element-populated {
        padding: 80px 36px 80px 36px
    }

   .elementor-element.elementor-element-120bab13>.elementor-element-populated {
        padding: 80px 36px 80px 36px
    }

  .elementor-element.elementor-element-5809d821 {
        padding: 0 0 0 0
    }

     .elementor-element.elementor-element-33994f12>.elementor-element-populated {
        padding: 80px 36px 80px 36px
    }

    .elementor-element.elementor-element-3173de56 {
        padding: 80px 0 80px 0
    }

    .elementor-element.elementor-element-1b9c9f62>.elementor-element-populated {
        padding: 0 36px 0 36px
    }

    .elementor-element.elementor-element-72a6ccac>.elementor-container {
        max-width: 480px
    }

    .elementor-element.elementor-element-31b05008>.elementor-element-populated {
        padding: 0 36px 80px 36px
    }

  .elementor-element.elementor-element-62293859:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-62293859>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 93% 84%
    }

 .elementor-element.elementor-element-78fe0751>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-element.elementor-element-6698f2e8>.elementor-widget-container {
        margin: 0 0 -10px 0;
        padding: 50px 50px 0 50px
    }

   .elementor-element.elementor-element-58baa8bb>.elementor-widget-container {
        padding: 0 50px 50px 50px
    }

    .elementor-element.elementor-element-165f883b {
        padding: 80px 36px 0 36px
    }

.elementor-element.elementor-element-52ebace>.elementor-element-populated {
        padding: 0 0 0 0
    }

  .elementor-element.elementor-element-70208021 {
        padding: 0 0 80px 0
    }

     .elementor-element.elementor-element-5fcbf78c>.elementor-element-populated {
        padding: 0 36px 0 36px
    }
}

@media(max-width: 767px) {
     .elementor-element.elementor-element-23c2afd6>.elementor-element-populated {
        padding:80px 12px 40px 12px
    }

     .elementor-element.elementor-element-9f19ff8>.elementor-element-populated {
        padding: 0 12px 80px 12px
    }

  .elementor-element.elementor-element-4397fb91>.elementor-container {
        max-width: 450px
    }

     .elementor-element.elementor-element-4397fb91 {
        padding: 80px 12px 0 12px
    }

   .elementor-element.elementor-element-3b272db1 .title-area-wrap {
        text-align: center
    }

    .elementor-element.elementor-element-71e22e90>.elementor-element-populated {
        margin: -15px 0 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

   .elementor-element.elementor-element-2d6d17bd>.elementor-element-populated {
        padding: 0 12px 0 12px
    }

    .elementor-element.elementor-element-4a1c65af>.elementor-element-populated {
        padding: 80px 12px 40px 12px
    }

    .elementor-element.elementor-element-4f84c937>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0
    }

    .elementor-element.elementor-element-162d3c14>.elementor-element-populated {
        padding: 20px 12px 80px 12px
    }

   .elementor-element.elementor-element-38722b54>.elementor-element-populated {
        padding: 0 12px 0 12px
    }

    .elementor-element.elementor-element-c4b7d20>.elementor-element-populated {
        padding: 80px 12px 80px 12px
    }

   .elementor-element.elementor-element-120bab13>.elementor-element-populated {
        padding: 80px 12px 80px 12px
    }

   .elementor-element.elementor-element-33994f12>.elementor-element-populated {
        padding: 80px 12px 80px 12px
    }

    .elementor-316 .elementor-element.elementor-element-1b9c9f62>.elementor-element-populated {
        padding: 0 12px 0 12px
    }

    .elementor-316 .elementor-element.elementor-element-72a6ccac>.elementor-container {
        max-width: 350px
    }

  .elementor-element.elementor-element-31b05008>.elementor-element-populated {
        padding: 0 12px 80px 12px
    }

     .elementor-element.elementor-element-62293859:not(.elementor-motion-effects-element-type-background),.elementor-316 .elementor-element.elementor-element-62293859>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0% 0%
    }

 .elementor-element.elementor-element-6f95fb71 {
        width: 100%;
        max-width: 100%
    }

     .elementor-element.elementor-element-6698f2e8>.elementor-widget-container {
        padding: 50px 15px 0 15px
    }

   .elementor-element.elementor-element-6698f2e8 .title-area-wrap {
        text-align: center
    }

   .elementor-element.elementor-element-58baa8bb>.elementor-widget-container {
        padding: 0 0 50px 0
    }

    .elementor-element.elementor-element-58baa8bb .btn-wrapper {
        text-align: center
    }

   .elementor-element.elementor-element-165f883b>.elementor-container {
        max-width: 350px
    }

     .elementor-element.elementor-element-165f883b {
        padding: 80px 12px 0 12px
    }

   .elementor-element.elementor-element-698c544e .title-area-wrap {
        text-align: center
    }

.elementor-element.elementor-element-5fcbf78c>.elementor-element-populated {
        padding: 0 12px 0 12px
    }
}
/* custom code*/
.page-template-template-builder .elementor-4186 .elementor-element.elementor-element-5e6090d2 {
    padding: 5rem 0;
}
.page-template-template-builder .elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 100%;
    padding: 0 4rem;
}
.page-template-template-builder .sub-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: -0.2rem;
}
.page-template-template-builder .shadow-title {
    font-size: 4rem;
    margin: 0;
    background-image: linear-gradient(180deg, rgb(189 205 254 / 70%) 0%, #fff0 88.54%);
}
.service-sec {
    background-image: url(https://wordpress.themeholy.com/webteck/wp-content/uploads/2024/02/process_bg_1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-template-template-builder .mb-35 {
    margin-bottom: 1rem;
}
.page-template-template-builder .title-area .sec-title {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    line-height: 1;
}
.page-template-template-builder .checklist.style2 li>i {
    font-size: 1.2rem;
    border: 0.2rem dashed var(--theme-color);
    padding: 0.5rem;
}
.page-template-template-builder .checklist.style2 li:not(:last-child) {
    margin-bottom: 1.4rem;
}
.page-template-template-builder .checklist.style2 li {
    font-size: 1rem;
    gap: 0.88rem;
}
.header-layout18 .main-menu>ul>li>a {
    font-size: 1.5rem;
    padding: 3rem 1rem;
}
.header-layout18 .menu-area {
     border-radius: 0;
}

.page-template .th-btn.style-radius {
    border-radius: 2rem;
    padding: 1rem 2.5rem;
font-size:1.3rem;
}
.elementor-top-section {
    padding: 6rem 0;
}
.elementor-element.elementor-element-1a4e06d5.elementor-widget.elementor-widget-tragaservice {
    margin-top: 2rem;
}
.service-card {
    padding: 3rem 2rem;
        border-radius: 0.5rem;
}
.shape-icon {
    width: 3rem;
    height: 3rem;
line-height: 1.5;;
}
.service-card .shape-icon {
    margin-bottom: 2rem;
}
.shape-icon .dots:before {
    top: 0;
    right: 2rem;
}
.shape-icon .dots:before, .shape-icon .dots:after {
   height: 1rem;
    width: 1rem;
   }
.service-card .th-btn {
    padding: 1rem 0;
    font-size: 1rem;
    min-width: 12rem;
    max-width: 12rem;
    overflow: hidden;
    color: #000;
    font-weight: bold;
}
.service-card:before {
    bottom: -8.5rem;
    right: -3rem;
}
.service-card:after {
    bottom: -2rem;
    right: -8.5rem;
}
.e-con>.e-con-inner>.elementor-widget>.elementor-widget-container, .e-con>.elementor-widget>.elementor-widget-container {
    height: auto !important;
}
@media(max-width: 991px){
    html{
        font-size: 10px;
    }   
}